// ブレイクポイントの設定
// ==================================================
//
// `@use '@/assets/sass/bp';`のように呼び出す。
// 変数を使用するところでは`#{bp.bp1}`のように記述する。
//
// 例） @media (min-width: #{bp.bp1 + 1}) and (max-width: #{bp.bp2})

/**
 * ブレイクポイントの変数定義
 */
$bp-1: 320px; // 最小スマホ
$bp-2: 480px; // 小型スマホ
$bp-3: 768px; // タブレット
$bp-4: 1024px; // 小型デスクトップ
$bp-5: 1280px; // 中型デスクトップ
$bp-6: 1366px; // 中型デスクトップ（広め）
$bp-7: 1440px; // 一般的なデスクトップ
$bp-8: 1600px; // 大型デスクトップ
$bp-9: 1920px; // ワイドスクリーン

// 対応最小サイズ
$bp-small_screen: $bp-1; // px ※基本的に変更しない

// PC番の表示有効サイズ
$bp-large_screen: 1140px; // px

// 大きくUIを変更するポイント
$bp-ui_change: $bp-4; // px
