@use './bp';

.container {
	max-width: 1320px; // ※内部の表示有効幅は、左右のpaddingを引いたもの（1280px）
	padding: 0 20px;
	margin: 0 auto;

	@media (max-width: #{bp.$bp-ui_change}) {
		padding: 0 5%;
	}
}
.container-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container-home {
	box-sizing: border-box;
	width: 100%;
	padding: 0 4.2vw;

	@media (min-width: 800px) {
		padding: 0 20px;
	}
	// @media screen and (min-width: #{bp.$bp-large_screen}) {
	// 	max-width: 1560px;
	// }

	@media (min-width: #{bp.$bp-ui_change}) {
		max-width: 1560px; // ※内部の表示有効幅は、左右のpaddingを引いたもの（1520px）
		margin: 0 auto;
		padding: 0 20px;
	}
}
