/**
 * HTML要素への共通スタイル
 */

@use './bp';
@use './color';
@use '@/assets/sass/variables';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	min-width: 320px;
	font-size: 100px;
	// scroll-behavior: smooth;
	scroll-padding-top: #{variables.$siteHeaderHeightPc};
	@media (max-width: #{bp.$bp-ui_change}) {
		scroll-padding-top: #{variables.$siteHeaderHeightSp};
	}
}
body {
	min-width: 320px;
	color: #{color.$text};
	font-size: 16px;
	line-height: 1.6;
	background-color: rgb(255, 255, 255);
	font-family: メイリオ, Meiryo, sans-serif;
}
main {
	min-height: 500px;
}
nav {
	ul,
	ol {
		list-style: none;
	}
	a {
		line-height: 1;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}
a {
	text-decoration: none;

	&:hover,
	&:visited,
	&:active,
	&:focus {
		text-decoration: none;
	}
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
address {
	font-style: normal;
}
