@use './bp';

.heading-lg {
	margin-bottom: 38px;

	.title {
		font-family: 'Noto Serif JP', serif;
		position: relative;
		display: inline-block;
		padding-bottom: 13px;
		color: #509cd3;
		font-size: 32px;
		font-weight: bold;

		@media (max-width: #{bp.$bp-ui_change}) {
			// site MBP
			font-size: 28px;
			padding-bottom: 8px;
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 3px;
			background: #509cd3;
		}
	}
}
.heading-lg-under_page {
	margin-bottom: 0;
	.title {
		@media (max-width: #{bp.$bp-ui_change}) {
			// site MBP
			font-size: 20px;
		}
	}
}

// 中サイズ
.heading-md {
	margin-bottom: 10px;
	color: #333;

	.title {
		font-size: 26px;
		font-weight: bold;

		@media (max-width: #{bp.$bp-ui_change}) {
			// site MBP
			font-size: 20px;
		}
	}

	&.heading-underline {
		padding-bottom: 5px;
		border-bottom: 1px solid #ececec;
	}
}

// 小サイズ
.heading-sm {
	.title {
	}
}

// h2
.h2_title {
	display: inline-block;
	color: #509cd3;
	font-size: 32px;
	padding-bottom: 5px;
	border-bottom: 4px solid #509cd3;
	margin-bottom: 30px;

	@media (max-width: #{bp.$bp-3}) {
		font-size: 20px;
		padding-bottom: 5px;
		margin-bottom: 20px;
		border-bottom: 3px solid #509cd3;
	}
}

// h3
.h3_title {
	padding-left: 15px;
	border-left: 5px solid #509cd3;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.4;

	@media (max-width: #{bp.$bp-ui_change}) {
		font-size: 20px;
	}
}
